.about {
    font-size: small;
}


.div_about {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: small;
}

.div_research {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.edu_card {
    position: relative;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 70px;
    display: flex;
    border-style: dashed;
    border-color: grey;
    width: 700px;
}

.edu_year {
    position: absolute;
    right: 20px;
    padding-left: 20px;
}

.research_tag_orange {
    background-color: orangered;
    width: fit-content;
    padding: 3px;
    border-radius: 5px;
    margin: 15px;
}

.research_tag_green {
    background-color: green;
    width: fit-content;
    padding: 3px;
    border-radius: 5px;
    margin: 15px;
}

.research_tag_blue {
    background-color: blue;
    width: fit-content;
    padding: 3px;
    border-radius: 5px;
    margin: 15px;
}

.tags_divide {
    display: flex;
}

